@import "./vars.css";
@import "./scrollbar.css";
@import "./typography.css";

@reference "./index.css";

body#__next {
  --font-sans: var(--font-fk-grotesk);
  --font-mono: var(--font-berkeley-mono);
  --offset-plus: var(--pale-cyan-200);

  @apply x:font-sans;
}

* {
  @apply x:border-border/50;
}
